/*
#watch-description {
    color: blue;
}

#timestamp-button .yt-uix-button-icon {
    width: 20px;
    height: 20px;
    position: relative;
    display: inline-block;
    color: rgb(140, 140, 140);
  background: url('chrome-extension://__MSG_@@extension_id__/images/enabled_logo.png');
  background-repeat : no-repeat;
  background-position : center center;
}
*/

div.timestampcomment {
    overflow : hidden;
    display: none; 
    background-color:rgba(0, 0, 0, 0.7); 
    border-radius: 2px; 
    transform: translate(-50%, 0); 
    left : 50%; 
    font-size: 13px;
    font-family: Arial; 
    position: absolute;
    z-index: 24;
    height: auto;
    max-width: 80%;
    min-width: 30%;
    /*width:80%;*/
    line-height: 20px;
    line-height: 20px;
    padding : 0px 5px 0px 5px;
}

div#movie_player.ytp-autohide div.timestampcomment {
    bottom : 5px;
}

#movie_player div.timestampcomment {
    bottom : 44px;
}

div#movie_player.ytp-big-mode.ytp-autohide div.timestampcomment {
    bottom : 5px;
}

div#movie_player.ytp-big-mode div.timestampcomment {
    bottom : 64px;
}






div.commentAuthor {
    color : white;
    clear : right;
    padding : 2px;
    border-style : solid;
    border-color : grey;
    border-width : 0px 0px 1px 0px;
}

div.commentText {
    color : white;
    clear : left;
    padding : 2px;
}

div.commentMessage {
    float : left;
    width : 85%;
    padding : 5px;
}

div.commentDisplayPic {
    float : left;
    display : block;
    min-width : 25px;
    width : 10%;
    margin : 0 auto;
    padding-top : 8px;
}

div.commentDisplayPic > img {
    width : 100%;
    height : 100%;
}

#timestamp-button.timestamps-activated .yt-uix-button-icon {
    width: 20px;
    height: 20px;
    position: relative;
    display: inline-block;
    color: rgb(140, 140, 140);
 /* background: url(//s.ytimg.com/yts/imgbin/www-hitchhiker-vfl87ArTO.webp) -134px -231px no-repeat;*/
    background: url('chrome-extension://__MSG_@@extension_id__/images/enabled_logo.png');
}

#timestamp-button .yt-uix-button-icon {
    width: 20px;
    height: 20px;
    position: relative;
    display: inline-block;
    color: rgb(140, 140, 140);
 /* background: url(//s.ytimg.com/yts/imgbin/www-hitchhiker-vfl87ArTO.webp) -134px -231px no-repeat;*/
    background: url('chrome-extension://__MSG_@@extension_id__/images/disabled_logo.png');
}